<div>
    <div masthead></div>
    <div class="bar bar-standard bar-header-secondary">
      <div class="segmented-control">
        <a class="control-item active">Active</a>
        <a class="control-item">Past</a>
        <a class="control-item">Friends</a>
      </div>
    </div>
    <div add-something></div>
    <div class='content'>
      <div style='color:gray; text-align:center;'>
        <br><Br><BR><BR>
        <i class='fa fa-paper-plane-o' style='font-size:80px;color:gray;'></i>
        <div>You don't have any trips</div>
      </div>
    </div>
</div>